body{
    background-image: url('assets/land.png');
    background-size: cover;
}

.player{
    width: 80px;
    height: 100px;
    background-image: url('assets/player_front.png');
    /* border: 3px solid blue; */
    background-size: 240px 100%;
    background-position: -80px 0;
    position: fixed;
    z-index: 1000;
}
.player.walk{
    animation: walk .2s step-end infinite;
}

@keyframes walk{
    0%, 32%{
        background-position: 0 0;
    }
    33%, 65%{
        background-position: -80px 0;
    }
    66%, 100%{
        background-position: -160px 0;
    }
}

.grass{
    width: 50px;
    height: 50px;
    background-image: url('assets/grass.png');
    background-size: 100% 100%;
    position: fixed;
    z-index: 0;
}

.pokeball{
    width: 30px;
    height: 30px;
    background-image: url('assets/pokeball.png');
    background-size: 100% 100%;
    position: fixed;
    z-index: 1;
}